$cyan: hsl(179, 62%, 43%);
$ltcyan: hsl(179, 62%, 50%);
$ltgray: hsl(204, 43%, 93%);
$grayblue: hsl(218, 22%, 67%);
$brtyellow: hsl(71, 73%, 54%);
$hoveryellow: hsl(71, 73%, 45%);
$white: hsl(0, 0%, 100%);
$blue: hsl(228, 45%, 44%);
